<% provide(:title, "会員一覧") %>
  <h2 class="head-line title_h2 text-center">
    <%= full_name(@customer) %>さんの会員詳細
  </h2>
  <div class="row">
    <div class="col-xs-8">
      <div class="field">
        <p>
          会員ID<%= @customer.id %>
        </p>
      </div>
      <div class="field">
        <p>
          氏名<%= full_name(@customer) %>
        </p>
      </div>
      <div class="field">
        <p>
          フリガナ<%= full_name_kana(@customer) %>
        </p>
      </div>
      <div class="field">
        <p>
          郵便番号<%= @customer.post_code %>
        </p>
      </div>
      <div class="field">
        <p>
          住所<%= @customer.address %>
        </p>
      </div>
      <div class="field">
        <p>
          電話番号<%= @customer.phone_number %>
        </p>
      </div>
      <div class="field">
        <p>
          メールアドレス<%= @customer.%>
        </p>
      </div>
      <div class="field">
        <p>
          会員ステータス
          <% if @customer.withdrawal_status == true %>
            <span>　<i class="fas fa-bullseye blue"></i>退会
          <% elsif @customer.withdrawal_status == false %>
            　<i class="fas fa-bullseye red"></i>有効</span>
          <% end %>
        </p>
      </div>

      <div class="actions">
        <%= link_to "編集する",edit_admin_customer_path(@customer), class: "glyphicon glyphicon-pencil btn btn-success edit_shipping_addres_#{@customer.id}" %>
        <%= link_to " 注文履歴一覧を見る", current_index_admin_order_path(@customer), class: "glyphicon glyphicon-folder-open btn btn-info" %>
      </div>
    </div>
  </div>