<div class="row login-row">
    <div class="col-xs-3">
        <%= render 'genre_serch_form', genres: @genres %>
    </div>
  	<div class="col-xs-9">
  <h2><%= "#{@index}一覧 （全#{@products_all.count}件）" %></h2>
      <ul class="content1 row">
        <% @products.each do |product| %>
        <div class="container">
                <table class="table">
                    <tr>
                        <th><%= link_to product_path(product) do %>
                            <%= attachment_image_tag(product, :image,size: "180x130", fallback: "no_image.jpg") %>
                            <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th><%= link_to product.name, product_path(product) %></th>
                    </tr>
                    <tr>
                        <th>￥<%= (product.price * 1.1).to_i.to_s(:delimited) %></th>
                    </tr>
                </table>
        <% end %>
        </ul>
        <%= paginate @products %>
        </div>
    </div>
</div>