<div class="row">
    <div class="col-md-3">
        <%= render 'genre_serch_form', genres: @genres %>
    </div>
  	<div class="col-md-8 offset-xs-1">
      <h2><%= "#{@index}一覧 （全#{@products_all.count}件）" %></h2>
          <div class="d-flex flex-wrap mb-3 w-100">
                <% @products.each do |product| %>
            
                    <div class="w-25">
                        <%= link_to product_path(product) do %>
                            <%= attachment_image_tag(product, :image,size: "180x130", fallback: "no_image.jpg") %>
                            <% end %>
                        
                    
                        <%= link_to product.name, product_path(product) %><br>
                    
                    
                    　　￥<%= (product.price * 1.1).to_i.to_s(:delimited) %>
                    </div>
                
               <% end %>
          </div>
          <%= paginate @products %>
    </div>    
        
        
    
</div>
