<div class="row login-row">
    <div class="col-xs-3">
        <%= render 'customer/products/genre_serch_form', genres: @genres %>
    </div>
<!--<%# provide(:title, "#{@product.name}") %>-->
    <div class="col-xs-4 col-xs-offset-2 product-show">
      <%= attachment_image_tag(@product, :image, size: "340x220", fallback: "no_image.jpg" ) %>
    </div>

    <div class="col-xs-6 product-show">
      <div class="product-description">
        <div class="field product-name">
          <h2><%= @product.name %></h2>
        </div>
        <div class="field">
          <%= @product.explanation %>
        </div>
        <div class="field product-price">
          <h3>¥ <%= (@product.price * 1.1).to_i.to_s(:delimited) %>
          <!--数字はフルオート型-->
          <!--integerかけるフルオート型をかけるとフルオート型になる-->
          <!--それをto_iメゾットでinteger型に変換し-->
          <!--さらにto_sメゾット文字列型に変化する。-->
              <span class="tax">(税抜)</span>
          </h3>
        </div>
      </div>

      <div class="field">
        <% if @product.sales_status == true %>
              <%= form_for(@cart_products , url: customers_cart_products_path, method: :post) do |f| %>
              <%= f.label :amount, "個数選択" %>
              <%= f.number_field :amount, min: 1, max: 100, placeholder: '個数選択', class:"quantity-select-form" %>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
         <% elsif @product.sales_status == false %>
          <h3>売り切れ中</h3>
        <% end %>
      </div>
    </div>
</div>