
<h5>商品新規登録</h5>
    <%= form_with(model: @product, url: admin_products_path, method: :post, local: true) do |f| %>
        <table align="center">
        	<tr>
        		<th><%= f.label :image %></th>
                <td><%= f.attachment_field :image %></td>
        	</tr>
            <tr>
                <th><%= f.label :商品名 %></th>
            	<td><%= f.text_field :name, class: "form" %></td>
            </tr>
            <tr>
            	<th><%= f.label :商品説明 %></th>
            	<td><%= f.text_area :explanation %></td>
            </tr>
            <tr>
            	<th></th>
            	<td></td>
            </tr>
            <tr>
            	<th><%= f.label :税抜価格 %></th>
            	<td><%= f.text_field :price %>円</td>
            </tr>
            <tr>
                <th>販売ステータス</th>
                <td>
                	<%= f.radio_button :sales_status, true  %>
                	<%= f.label :sales_status, "販売中" %>
                    <%= f.radio_button :sales_status, false %>
                    <%= f.label :sales_status, "販売停止中" %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.submit "新規登録",class:"btn btn-primary col-xs-12" %>
                    <% end %>
                </td>
            </tr>
        </table>

