<div class="container takasa">
	<h2><i class="fas fa-truck"></i>配送先登録/一覧</h2><br>

    <%= form_with model:@address, url:customers_addresses_path, local:true, method: :post do |f| %>
    <!--<div class="row">-->
      <table class="table">
      <tr>
      <div class="col-xs-1">
        <%= f.label :"郵便番号(ハイフンなし)" %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
      </div>
      </tr>
      <tr>
      <div class="col-xs-1">
        <%= f.label :住所 %>
      </div>
      <div class="col-xs-4">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", :size => "40*40" %>
      </div>
      </tr>
      <tr>
      <div class="col-xs-1">
        <%= f.label :宛名 %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="col-xs-3">
      <%= f.submit "新規登録", class:"btn btn-primary" %>
      </div>
      </tr>
      <% end %>
    <!--</div>-->

     <table  class="table table-bordered">
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
            <td><%= address.post_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_customers_address_path(address),method: :get , class: "btn btn-primary" %>
              <%= link_to "削除する", customers_address_path(address), method: :delete , class: "btn btn-danger" %>
            </td>
        </tr>
        <% end %>
      </table>
</div>