<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <% if admin_signed_in? %>
      <%= link_to "NaganoCAKE", admin_top_path, class: "fas fa birthday-cake navbar-brand"%>
      <%else%>
      <%= link_to "NaganoCAKE",root_path, class: "fas fa-birthday-cake navbar-brand" %>
      <%end%>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if customer_signed_in? %>

        <li class ="header-name">
          ようこそ、<%= full_name(current_customer)%>さん！
        </li>
        <li>
          <%= link_to "マイページ",customers_path(current_customer),class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "商品一覧",products_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to customers_cart_products_path,data:{"turbolinks"=>false},
            class:"nav-link text-dark" do %>カート(<%=current_customer.cart_products.count %>個)
            <%end%>
        </li>
        <li>
          <%= link_to "ログアウト",destoy_customer_session_path,method: :delete,class: "nav-link text-dark" %>
        </li>

      <% elsif admin_signed_in? %>

        <li>
          <%= link_to"商品一覧", admin_produvts_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to"会員一覧",admin_customer_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "注文履歴一覧",admin_orders_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "ジャンル一覧",admin_genres_path, class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: "nav-link text-dark"%>
        </li>

      <%else%>
        <li>
          <%= link_to "About",about_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "商品一覧",products_path,class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "新規登録" ,new_customer_registration_path,data: {"turbolinks" => false},class: "nav-link text-dark" %>
        </li>
        <li>
          <%= link_to "ログイン",new_customer_registration_path,class: "nav-link text-dark" %>
        </li>

      <%end%>
        </ul>
      </div>
    </div>
  </nav>

</header>